HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
HOME_LOG_IS_UNDEFINED/

.metadata/
HOME_LOG_IS_UNDEFINED/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/.metadata/
