<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	
    <body>
    	<section layout:fragment="content">
			<div class="container my-5">
	            <h2 class="mb-5 text-center">Ajout d'une Categorie</h2>
	            <div class="row">
	            <div class="col"></div>
	                <div class="col-md-6">
						<form action="#" th:action="@{/categories/addcategory}" th:object="${categoryDto}" method="post">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="name" class="col-form-label">Nom</label>
									<input type="text" th:field="*{name}" class="form-control " id="name"/>
									<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label for="name" class="col-form-label">Description</label>
									<input type="text" th:field="*{description}" class="form-control" id="Description"/>
									<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
								</div>							
							</div>
							<div class="row">
								<div class="col-md-6 mt-5">										
									<Button type="submit" name="action" class="btn btn-success" value="save">Valider</Button>
									<Button type="cancel" class="btn btn-danger" onclick="window.location='/categories';return false;">Annuler</Button>
								</div>
							</div>    
						</form>
					</div>
					<div class="col"></div>
				</div>
			</div>
		</section>
		<footer layout:fragment="footerContent" id="main-footer">
			<div id="footer-legal" class="fixed-bottom">
				© GROUPE ADSN – Tous droits réservés  - 2022 <span th:text="${version}" class ="versionApps"></span> <span class ="versionApps">Version-</span>
			</div>
		</footer>
    </body>
</html>