<div th:fragment="legendeMeteoDuJour">
    <table>
    <tr>
        <td style="padding-left:80px; padding-right: 20px">
            <img style="width:30px;height:30px" th:align="right" src="cid:Picto-vert.png"  />
        </td>
        <td >
            <p  style="font-size: 1.3em;color: #cdc0a2;margin-top: 0;margin-bottom:0;font-weight: bolder;font-style: italic;">Toutes les applications sont disponibles</p>
        </td>
    </tr>
    <tr>
        <td style="padding-left:80px; padding-right: 20px">
            <img height= "30px" width="50px" th:align="right" src="cid:Picto-Jaune.png"  />
        </td>
        <td>
            <p  style="font-size: 1.3em;color: #cdc0a2;margin-top: 0;margin-bottom:0;font-weight: bolder;font-style: italic;">Applications ou fonctionnalités disponibles en mode dégradé</p>
        </td>
    </tr>
    <tr>
        <td style="padding-left:80px; padding-right: 20px">
            <img height="50px" width="50px" th:align="right" src="cid:Picto-Rouge.png"   />
        </td>
        <td>
            <p  style="font-size: 1.3em;color: #cdc0a2;margin-top: 0;margin-bottom:0;font-weight: bolder;font-style: italic;">Applications ou fonctionnalités indisponibles</p>
        </td>
    </tr>
    </table>
    <br>
    <br>
</div>