<?xml version="1.0" standalone="yes" ?>
<!DOCTYPE html>

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<body>
	<section layout:fragment="content">
		<div class="container my-5">
			<div class="jumbotron text-center">
				<h1>Oops!</h1>
				<h2>Une erreur est survenue.</h2>

				<div class="error-details"></div>

				<div class="error-actions">
					<a href="/" class="btn btn-primary btn-lg"><span
						class="fas fa-home"></span> Retour a l'accueil </a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>