<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link type="text/css"  th:href="@{css/mailIncident.css}" rel="stylesheet">
</head>
<body >
<section >
    </br></br></br>
    <form action="#" th:object="${incidentDto}">
            <div class="container bleu-adsn">
                <div class="d-flex incident-form-control">
                    <img  src="cid:declaration-inc.png" class="mr-1 ml-1 mb-5" th:if="${incidentDto.incidentGraphicalCharter == 'Déclaration d''incident'}"/>
                    <img  src="cid:cloture_incident.png" class="mr-1 ml-1 mb-5" th:if="${incidentDto.incidentGraphicalCharter == 'Clôture d''incident'}"/>
                    <img  src="cid:suivi-inc.png" class="mr-1 ml-1 mb-5" th:if="${incidentDto.incidentGraphicalCharter == 'En cours de traitement'}"/>
                </div>
                <hr style="border :1px solid rgba(0, 0, 0, 0.1);">
                  </br>
                <div style="white-space:break-spaces;margin-left: 80px;margin-top: 30px;margin-bottom: 30px;">
                    <div class="bottom" th:each ="description : ${descriptions}">
                        <span style="color:#203864;font-size:13pt;height:20px;" th:text="${description}"></span><br>
                    </div>
                </div>
                </br>
                <table>
                    <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                        <b>
                            <u>
                                <span style="color:#0A3F70;font-size:13pt;font-family:Tahoma,sans-serif;font-variant:small-caps;letter-spacing:-1.0pt;"> DETAILS DE L’INTERRUPTION </span>
                            </u>
                        </b>
                    </p>
                    <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                        <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                    </p>
                    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#F3F3F3;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td valign="top" style="width:250px;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <b>
                                        <span style="color:#203864;font-family:Tahoma,sans-serif;">Nature de l'incident</span>
                                    </b>
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                            <td style="width:1008.75pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-size:13pt" th:text="${incidentDto.incidentNature}"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:300px;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:250px;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <b>
                                        <span style="color:#203864;font-family:Tahoma,sans-serif;">Applications concernées</span>
                                    </b>
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                            <td style="width:1008.75pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-size:13pt" th:text="${incidentDto.incidentApplications}"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:382.5pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:width:250px;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <b>
                                        <span style="color:#203864;font-family:Tahoma,sans-serif;">Environnement</span>
                                    </b>
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                            <td style="width:1008.75pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-size:13pt" th:text="${incidentDto.incidentEnvironment}"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:382.5pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:250px;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <b>
                                        <span style="color:#203864;font-family:Tahoma,sans-serif;">Impact de l'incident</span>
                                    </b>
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                            <td style="width:1008.75pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-size:13pt" th:text="${incidentDto.incidentImpactType}"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:382.5pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:250px;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <b>
                                        <span style="color:#203864;font-family:Tahoma,sans-serif;">Debut de l'incident</span>
                                    </b>
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                            <td style="width:1008.75pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-size:13pt;font-weight:600" th:text="${incidentDto.incidentStart}"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:382.5pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:250px;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <b>
                                        <span style="color:#203864;font-family:Tahoma,sans-serif;">Fin estimée de l'incident</span>
                                    </b>
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                            <td style="width:1008.75pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-size:13pt;font-weight:600" th:text="${incidentDto.incidentEnd}"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:382.5pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:250px;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <b>
                                        <span style="color:#203864;font-family:Tahoma,sans-serif;">Informations complémentaires</span>
                                    </b>
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                            <td style="width:1008.75pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-size:13pt;font-weight:600" th:text="${incidentDto.incidentComplementaryInfos}"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="width:382.5pt;padding:0 5.4pt;">
                                <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;">
                                    <span style="color:#203864;font-family:Tahoma,sans-serif;" >&nbsp;</span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </table>
                    </div>
                </div></div></div>
    </form>
</section>
<section>
</section>
</body>
</html>